.BeneTopic {
    text-align: center;
    color: #959595;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    padding-bottom: 109px;
}

.Benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BenefitList {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
    text-wrap: wrap;
    width: 1240px;
}

.ListItem {
    width: 172px;
    text-align: center;
}

.BenefitDesc {
    padding-top: 20px;
    color: #959595;
    font-size: 13.097px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
}

.BenefitImg {
    width: 83.82px;
    height: 83.82px;
}

@media screen and (max-width: 480px) {
    .BenefitList {
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        text-wrap: wrap;
        width: 100vw;
    }

    .ListItem {
        padding-bottom: 20px;
    }

    .BeneTopic {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.72px;
        padding-bottom: 54px;
    }
}

@media (min-width: 481px) and (max-width: 1300px) {}

@media (min-width: 1301px) {}