
.SelectionBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;

}
.WhichChartBtn{
    color: #5E1A89;
    border-style: solid;
    border-color: #5E1A89;
    border-width: 0.5px;
    border-radius: 4px;
    padding: 12px 43.1px;
    cursor: pointer;
}
.Charts{
    background-color: #f2ebfb;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.EachChart{
    padding-left: 15vw;
    width: 50vw;
}