.Different {
    display: flex;
    flex-direction: row;
    height: 516px;
}

.DifferentText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 36.25vw;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    background: url('../assets/DifferentBackGround.png');
    background-size: cover;
    padding: 77px 3.54vw 76px 3.47vw;
}

.DifferentTopic {
    font-size: 36px;
    letter-spacing: 1.08px;
    font-weight: 400;
    padding-bottom: 40px;
}

.SubHeading {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.57px;
    padding-bottom: 10px;
}

.Description {
    color: #959595;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    padding-bottom: 35px;
    opacity: 0.9;
}

.DifferentVideo {
    background-image: url(../assets/HowDifferent.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 918px;
    height: 516px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.VideoPlay {
    width: 918px;
    height: 513px;
}

@media screen and (max-width: 480px) {
    .Different {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .DifferentText {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100vw;
        font-weight: 400;
        letter-spacing: 1.08px;
        background: url('../assets/DifferentBackGround.png');
        background-size: cover;
        padding: 32px 0;
        
    }

    .DifferentVideo {
        background-image: url(../assets/HowDifferent.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 232.706px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Description {
        width: 333.89px;
        font-size: 12.69px;
        font-weight: 400;
        letter-spacing: 0.381px;
        text-align: left;
        text-wrap: wrap;
        padding-left: 35px;
    }

    .DifferentTopic {
        font-size: 28.552px;
        font-weight: 400;
        letter-spacing: 0.857px;
        padding-left: 35px;
    }

    .SubHeading {
        font-size: 15.069px;
        font-weight: 700;
        letter-spacing: 0.452px;
        padding-left: 35px;
    }
}

@media (min-width: 481px) and (max-width: 1300px) {}

@media (min-width: 1301px) {}