.Different {
    display: flex;
    flex-direction: row;
    height: 516px;
}

.DifferentText {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 36.25vw;
    color: #5E1A89;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
    background: url('../assets/DifferentBackGround.svg');
    background-size: cover;
    padding: 77px 3.54vw 76px 3.47vw;
}

.DifferentTopic {
    font-size: 36px;
    letter-spacing: 1.08px;
    font-weight: 400;
    padding-bottom: 40px;
}

.SubHeading {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.57px;
    padding-bottom: 10px;
}

.Description {
    color: #303033;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    padding-bottom: 35px;
    opacity: 0.9;
}

.DifferentVideo {
    background-image: url(../assets/HowDifferent.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 918px;
    height: 516px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayBtn {
    background: none;
    border: none;
    cursor: pointer;
}
.VideoPlay{
    width: 918px;
    height: 513px;
}