.Footer {
    height: 192px;
    flex-shrink: 0;
    background-color: #290343;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    padding-bottom: 20px;
}

.FooterLogo {
    padding-top: 20px;
    width: 138px;
    height: 83px;
}

.Section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
    padding-top: 34px;
    padding-bottom: 34px;
}

.SectionContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SectionTitle {
    color: #fff;
    font-size: 16x;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.6px;
}

.feature {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.21px;
}

.SocialContent {
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.fa-brands{
    color: #fff;
}
.icon {
    font-size: 24px;
    color: #303030;
}

.copyrights {
    color: #959595;
    background-color: #290343;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.21px;
    padding-top: 14px;
    padding-bottom: 15px;
}

.MobileMenu {
    flex-shrink: 0;
    background: #290343;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
}

.LogoSocials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.MobileLogo {
    width: 92.852px;
    height: 47.331px;
}

.MobileTitle {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.48px;
}

.MobileContent {
    color: #fff;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MobileTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.MobileFooterMenu {
    padding-left: 2px;
}

.FooterSeparator {
    background-color: #959595;
    height: 0.4px;
    opacity: 0.4;
}

.Mfeature {
    padding-left: 20px;
}
.copyrightsMobile {
    background-color: #290343;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.21px;
    padding-top: 14px;
    padding-bottom: 15px;
}
.SearchGlasses{
    color: #DDDDDD;
    position: relative;
    left: 310px;
    bottom: 45px;
}
@media screen and (max-width: 480px) {
    .icon {
        color: #959595;
    }
    .FooterDesktop{
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 1300px) {}

@media (min-width: 1301px) {
    .FooterMobile{
        display: none;
    }
}