.PopForm {
    position: fixed;
    padding-top: 100px;
    top: 96px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(248deg, rgba(94, 26, 136, 0.17) 1.52%, rgba(255, 255, 255, 0.00) 96.99%);
    /* Semi-transparent background */
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 657px;
    height: 630px;
    flex-shrink: 0;
    border-radius: 10px;
}

.ClosePopup {
    width: 12px;
    height: 12px;
    position: relative;
    left: 400px;
    top: 15px;
}

.FormInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    position: relative;
    left: 10px;
}

.FormHeading {
    color: var(--text-color, #252B42);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.InputText {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    height: 50px;
    width: 235px;
    padding-left: 20px;
}

.TextField {
    padding-bottom: 20px;
}

.ColOne,
.ColTwo {
    display: flex;
    flex-direction: column;
}

.SubmitBtn {
    width: 260px;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: none;
    border-radius: 5px;
    background: #5E1A88;
    display: flex;
    padding: 15px 40px;
    gap: 10px;
    cursor: pointer;
}

.Submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.EachField {
    width: 235px;
}

.ColOne {
    position: relative;
    right: 50px;
}

.OptionSelector {
    width: 257px;
}

.MsgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.Msg {
    padding-top: 20px;
    padding-left: 20px;
    width: 530px;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #F9F9F9;
    resize: none;
}


@media screen and (max-width: 480px) {
    .PopForm {
        position: fixed;
        padding-top: 35px;
        top: 50px;
        left: 0;
    }
    .FormInputs{
        flex-direction: column;
    }
    .Form {
        width: 100vw;
        height: 750px;
        position: relative;
        left: 0;
    }
    .Msg {
        padding-top: 10px;
        padding-left: 10px;
        width: 340px;
        height: 80px;
        border-radius: 5px;
        border: 1px solid #DDD;
        background: #F9F9F9;
        resize: none;
    }
    .ColOne{
        position: relative;
        left: 0;
    }
    .InputText{
        width: 340px;
    }
    .OptionSelector{
        width: 357px;
    }
}

@media (min-width: 481px) and (max-width: 1300px) {
}

@media (min-width: 1301px) {
    
}