.PopForm{
    position: fixed;
    padding-top: 100px;
    top: 96px;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(248deg, rgba(94, 26, 136, 0.17) 1.52%, rgba(255, 255, 255, 0.00) 96.99%); /* Semi-transparent background */
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.Form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 657px;
    height: 593px;
    flex-shrink: 0;
    border-radius: 10px;
}
.ClosePopup{
    width: 12px;
    height: 12px;
    position: relative;
    left: 400px;
    top: 15px;
}

.FormInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
    text-align: left;
}

.FormHeading {
    color: var(--text-color, #252B42);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.InputText {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}
.Field{
    padding : 0;
}
.TextField {
    padding-bottom: 20px;
}

::placeholder {
    color: #BDBDBD;
    padding: 11px 152px 11px 0px;
    font-size: 10px;
}
.ColOne, .ColTwo {
    width: 255px;
    display: flex;
    flex-direction: column;
}
.SubmitBtn {
    width: 275px;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: none;
    border-radius: 5px;
    background: #5E1A88;
    display: flex;
    padding: 15px 40px;
    gap: 10px;
    cursor: pointer;
}
.Submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}