.Navbar {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: sticky;
    top: 0;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 10px 10vw;
    opacity: 2;
    background-color: #fff;
    opacity: 1;
    z-index: 2000;
}

.option {
    display: flex;
    flex-direction: column;
}

.Menu {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.DropDown {
    transform: rotate(90);
    position: relative;
    top: 2px;
}

.OptionBar {
    height: 1px;
    background-color: #5E1A89;
}

.option {
    cursor: pointer;
    gap: 1.5px;
}

.PhoneIcon {
    width: 34px;
    height: 34px;
}

.ContactNo {
    color: #5E1A89;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.OptionText {
    color: #959595;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.28px;
}

.TheDropDown {
    position: relative;
    right: 20px;
    cursor: context-menu;
}

.DropDownList {
    z-index: 2000;
    width: 100px;
    position: absolute;
    top: -12px;
    list-style: none;
    color: #959595;
    background-color: #fff;
    padding-top: 35.2px;
}

.DropListItem {
    width: 125px;
    padding: 7px 0 7px 14px;
    position: relative;
    left: -40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.28px;
    flex-shrink: 0;
}