.Pricing {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AllPlans {
    width: 1240px;
    display: flex;
    flex-direction: column;
}

.PriceHead {
    color: #303030;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    text-align: center;
    padding-top: 88px;
    padding-bottom: 88px;
}

.SelectBtn {
    display: inline-flex;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #5E1A89;
    color: #fff;
    border-style: none;
    width: 246px;
    cursor: pointer;
}

.Plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    padding-bottom: 218px;
}

.EachPlan {
    padding: 50px 40px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: var(--light-background-color, #FFF);
}
.Silver{
    height: 873px;
}
.Gold{
    height: 810px;
}
.Premium{
    height: 463px;
}
.PlanName {
    color: #303030;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-bottom: 45px;
}

.PlanDesc {
    padding-left: 35px;
    text-align: center;
    width: 176px;
    color: #959595;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    padding-bottom: 45px;
}

.ServicesList {
    list-style: none;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greenTick {
    padding-right: 10px;
}

.BtnSection {
    padding-top: 46.38px;
}

.ServiceName {
    width: 205px;
    color: #303030;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.2px;
}

.Already {
    display: flex;
    flex-direction: row;
    padding-bottom: 16.37px;
    color: #303030;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
}
.Plus{
    text-align: center;
    color: #303030;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.2px;
padding-bottom: 15px;
}



@media screen and (max-width: 480px) {
    .PriceHead{
        font-size: 24px;
        letter-spacing: 0.72px;
    }
    /* .Plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 45px;
        padding: 100px 30px;
    }
    .EachPlan {
        padding: 50px 10px;
        border-radius: 10px;
        border: 1px solid #DEDEDE;
        background: var(--light-background-color, #FFF);
    } */
}

@media (min-width: 481px) and (max-width: 1300px) {}

@media (min-width: 1301px) {}