.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 102px;
    gap: 102px;
    fill: #fff;
    padding-bottom: 100px;
}
.ProductImg{
    z-index: 500;
    width: auto;
    height: auto;
    position: relative;
    right: 100px;
    bottom: 120px;
}
.EachProduct {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color: #f7f3f9;
    padding-right: 116.6px;
    border-radius: 7PX;
}

.Intro {
    color: #303030;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    padding-top: 40px;
    padding-bottom: 10px;
}

.ProdName {
    color: #303030;
    font-size: 35.947px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 26px;
}

.ProdDesc {
    width: 615.355px;
    color: #5e1a89;
    font-size: 18.972px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.KeyFeatures {
    padding-top: 37px;
    padding-bottom: 27px;
    color: #303030;
    font-size: 21.447px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.FeatureList {
    width: 400px;
    color: #303030;
    list-style: none;
    font-size: 11.548px;
    font-style: normal;
    font-weight: 500;
    line-height: 163.4%;
    /* 18.87px */
    text-transform: capitalize;
    position: relative;
    right: 45px;
    bottom: 20px;
}

.FeatureHead {
    font-weight: 700;
}

.ProdExtro {
    color: #303030;
    font-size: 18.972px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 27px;
}

.ProdBtns {
    display: flex;
    gap: 21px;
}

.Btn1 {
    display: flex;
    width: 179px;
    height: 44px;
    padding: 12px 15px 12px 17px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    gap: 21px;
    text-align: center;
    border: 1px solid #5e1a89;
    background: #FFF;
    color: #5e1a89;
}

.Btn2 {
    background: #5e1a89;
    border-style: none;
    display: flex;
    width: 179px;
    height: 44px;
    padding: 12px 15px 12px 17px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    gap: 21px;
    text-align: center;
    color: #FFF;
}